#sidebar {
    background-color: $primary;
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    color: white;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h1.logo {
        font-size: 2.1rem;
        margin-top: 1.2rem;
    }

    #nav {
        padding: 16px 12px;
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
            font-size: 1.05rem;
            color: white;
            font-weight: 600;
            display: block;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 6px;

            transition: margin 0.15s;
        }

        a i {
            margin-right: 8px;
        }

        a:hover {
            text-decoration: none;
            margin-left: 14px;
            cursor: pointer;
        }
    }
}