.text-300 {
    font-weight: 300;
}

.text-bold {
    font-weight: 600;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
}

.btn-info {
    color: white;

    &:hover {
        color: white;
    }
}